doctype 5
html(lang='en', ng-app="WishLists")
  head
    meta(charset='utf8')
    base(href='/')
    title Welcome To Wish List
	link(rel='stylesheet', href='/css/bootstrap.min.css')
	script(src='/js/lib/angular/angular.min.js')
	script(src='/js/lib/bootstrap.min.js')
	script(src='/js/lib/jquery.js')
  body
    block body