extends layout
block body
  div.container-fluid
    div.row-fluid
      div.span3
        div.sidebar-nav
          ul.nav
            li.nav-header
              Side Bar
            li
              a(href="#") My Big Dates
      div.span9
        div
          h1 我的心愿单
          form(ng-submit='addWishItem')
            input(placeholder='增加你的心愿吧', ng-model='wish.wishDesc', autofocus) 
        ul
          li(ng-repeat='wish in wishList')
            {{wish.wishDesc}}